*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 100%;
    width: 100%;
    font-size: large;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 25px;
    width: 35px;
}
.logo h3{
    color: rgb(47, 46, 46);
    
}
.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-top: 20px solid indianred;
    border-bottom: 20px solid indianred;
    box-shadow: 3px 3px 10px black ;
}
.todo{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.todo--value{
    background: transparent;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    border: black;
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
}
.todo:has(.todo--checkbox:checked){
    color: indianred;
    text-decoration: line-through;
    order: 1;
}
